/*  */


/* Codigo modificado por Luna */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&family=Roboto:wght@100;300;500&display=swap');

  
  h1{
    color:blueviolet;
    font-family: 'Oswald', sans-serif;
}

h2{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: white;
}

p{
font-family: 'Roboto', sans-serif;
}

  header { /* Contenedor general del navbar */
    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Acomoda los items */
    padding: 20px;
  }

 img{ /* imagen/logo */
    width: auto;
}
  .header__nav { /* Contenedor del NAV - NO incluye la foto */
    width: auto;
    height: 50px;
    text-align: right;
    padding-top: 10px;
  }

  .header__list{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  }


  .header__list li { /* ITEMS DEL NAV */
    display: inline;
    margin-left: 20px;
  }
  
  .header__list li a {/* ENLACES DEL NAVBAR */
    text-decoration: none;
    color: black;
  }
  
  .header__item a:hover{
     
    background-color:blueviolet;
    color:white;
 
}

  .home__seccion1{
    height: 90vh;
    background-image: url("../assets/mula.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
}

.home__seccion1__contenedor{
    width: 550px;
    position:relative;
    left:30px;
}

.home__seccion1__titulo{
    font-family: 'Oswald', sans-serif;
    color:blueviolet;
    font-size: 4rem;
    font-weight: 200;
}

.home__seccion2__contenedor{
  display:flex;
  padding:20;
  justify-content: space-between;
  gap:30px;
  margin:20px;
  width: 900px;
  text-align: justify;

}
.home__seccion2__videoMain{
  
  width:560px;
   height:315px;
  /*width:auto;*/
}

.home__seccion2__titulo{
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  display: inline;
  color:blueviolet;
  font-size: 2rem;
  font-weight: 200;
  padding:10px;
  /*padding:30px;*/
  /*margin:320px;*/

}
.home__seccion2__texto{
  font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 20;
    padding:10px;
}

.home__seccion3{
  height: 90vh;
  background-image: url("../assets/hkbo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
}

.home__seccion3__contenedor{
  width: 550px;
  position:relative;
  left:30px;
}

.home__seccion3__titulo{
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  color:white;
}

.footer__texto{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-align: right;
  padding:20px;

}

.servicios__seccion1{
  height: 90vh;
  background-image: url("../assets/jaloo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
}

.servicios__seccion1__contenedor{
  width: 550px;
  position:relative;
  left:30px;
}

.servicios__seccion1__titulo{
  font-family: 'Oswald', sans-serif;
  color:rgb(97, 93, 93);
  font-size: 4rem;
  font-weight: 200;
}

.artistas__seccion1{
  height: 90vh;
  background-image: url("../assets/baleia.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
}

.artistas__seccion1__contenedor{
  width: 400px;
  position:relative;
  left:30px;
}

.servicios__seccion2__contenedor{
  display: flex;
  flex-direction: row;
  gap:10px;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  left: 5rem;
  align-self: center;
  margin-left:9.5rem;
}

.artistas__seccion1__titulo{
  font-family: 'Oswald', sans-serif;
  color:blueviolet;
  font-size: 4rem;
  font-weight: 200;
}

.artistas{
  background-color:blueviolet;
  color:#fff;
  display: flex;
  flex-direction: column;
  padding: 60px 40px;

}

.artistas__contenedor{
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}


.artistas__artista{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;

}

.artistas__img{
  width: 100%;
  /*border-radius: 50%;*/
  max-width: 600px;
  height: 400px;
  object-fit: cover;
  margin: auto;
}

.artistas__video--avarocha{
  align-self: center;
  padding:20px;
}

.artistas__video--mula{
  align-self: center;
  padding:20px;
}

.artistas__video--dak{
  align-self: center;
  padding:20px;
}

.artistas__video--alfonsina{
  align-self: center;
  padding:20px;
}

.artistas__titulo{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.artistas__parrafo{
  padding:20px;
}

.festivales__seccion1{
  height: 90vh;
  background-image: url("../assets/festival.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
}

.festivales__seccion1__contenedor{
  width: 400px;
  position:relative;
  left:30px;
}

.festivales__seccion1__titulo{
  font-family: 'Oswald', sans-serif;
  color:gray;
  font-size: 4rem;
  font-weight: 200;
}

.festivales__seccion2__contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Pagina de contacto*/

.contacto__seccion1{
  height: 90vh;
  background-image: url("../assets/nomade.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
}

.contacto__seccion1__titulo{
  font-family: 'Oswald', sans-serif;
  color:blueviolet;
  font-size: 4rem;
  font-weight: 200;
}

.contacto__contenedor{
  display: flex;
  align-items: center;
  margin:60px;
}

.barra{
    background-color: blueviolet;
    height:10px;
    
}

a{
    text-decoration: none;
}

/*
.bodyServicios{
  display: grid; 
  grid-template-row: auto 1fr auto;
  height: 100vh; 
  grid-template-areas: "headerServicios" "mainServicios" "footerServicios"
  
}

.headerServicios{
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background-color: tomato; 
  padding: 20px 15px; 
  grid-area: headerServicios; 
}

.mainServicios{
  background-color: lightgreen; 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 2rem;
  place-items: center; 
  padding: 60px 1rem; 
  grid-area: mainServicios;
}

footer{
 background-color: lightblue; 
  grid-area: footerServicios; 
}
*/


/* Media queries */

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 768px) {

}