@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&family=Roboto:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: blueviolet;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
}

p {
  font-family: 'Roboto', sans-serif;
}

img {
  /* imagen/logo */
  width: auto;
}

.barra2 {
  background-color: blueviolet;
  height: 10px !important;
}

a {
  text-decoration: none;
}

.home__seccion1 {
  height: 90vh;
  background-image: url("../assets/mula.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__seccion1__contenedor {
  width: 550px;
  position: relative;
  left: 30px;
}

.home__seccion1__titulo {
  font-family: 'Oswald', sans-serif;
  color: blueviolet;
  font-size: 4rem;
  font-weight: 200;
}

.home__seccion2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.home__seccion2__texto {
  color: black;
}

.home__seccion2__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin: 20px;
  width: 900px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .home__seccion2__contenedor {
    margin: 0px;
    width: auto;
  }
  .home__seccion2__contenedor__videoMain {
    width: auto;
    height: auto;
  }
  .home__seccion2__contenedor__texto {
    width: auto;
    margin: 0px;
  }
}

@media screen and (max-width: 320px) {
  .home__seccion2__contenedor {
    width: auto;
  }
}

.home__seccion2__contenedor2 {
  background-color: lightgrey;
  margin: 20px;
  -webkit-box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.8);
          box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.8);
}

.home__seccion2__videoMain {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 320px) {
  .home__seccion2__videoMain {
    width: 243px;
    height: auto;
  }
}

.home__seccion2__titulo {
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  display: inline;
  color: blueviolet;
  font-size: 2rem;
  font-weight: 200;
  padding: 10px;
  /*padding:30px;*/
  /*margin:320px;*/
}

.home__seccion2__texto {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 20;
  padding: 10px;
}

.home__seccion3 {
  background-image: url("../assets/hkbo.png");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__seccion3__contenedor {
  width: 550px;
  position: relative;
  left: 30px;
}

.home__seccion3__titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  color: white;
}

.footer__parrafo {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-align: right;
  padding: 20px;
}

.footer__columna {
  width: auto;
  overflow: hidden;
}

.artistas__seccion1 {
  background-image: url("../assets/baleia.png");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.artistas__seccion1__contenedor {
  width: 400px;
  position: relative;
  left: 30px;
}

.artistas__seccion1__titulo {
  font-family: 'Oswald', sans-serif;
  color: blueviolet;
  font-size: 4rem;
  font-weight: 200;
}

.artistas {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #790e9d), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #790e9d 35%, #00d4ff 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 40px;
}

.artistas__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.artistas__artista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 10px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
}

.artistas__img {
  width: 100%;
  /*border-radius: 50%;*/
  max-width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.artistas__video--avarocha {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
}

.artistas__video--mula {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
}

.artistas__video--dak {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
}

.artistas__video--alfonsina {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
}

.artistas__titulo {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.artistas__parrafo {
  padding: 20px;
}

.main__home {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #790e9d), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #790e9d 35%, #00d4ff 100%);
  color: #fff;
}

.main__festivales {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #790e9d), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #790e9d 35%, #00d4ff 100%);
  color: #fff;
}

.main__contacto {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #790e9d), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #790e9d 35%, #00d4ff 100%);
  color: #fff;
}

.main__servicios {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, #790e9d), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #790e9d 35%, #00d4ff 100%);
  color: #fff;
}

.pantalla__festivales, .festivales__seccion1__festMontevideo__contenedor, .festivales__seccion1__festSP__contenedor, .festivales__seccion1__diasNordicos__contenedor, .festivales__seccion1__eduRioNegro__contenedor {
  padding: 20px;
  background: #1eabda;
  margin: 10px;
  border-radius: 10px;
}

.festivales__seccion1 {
  background-image: url("../assets/festival.png");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.festivales__seccion1__seccion1__contenedor {
  width: 400px;
  position: relative;
  left: 30px;
}

.festivales__seccion1__seccion1__titulo {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 4rem;
  font-weight: 200;
}

.festivales__seccion1__seccion2__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  padding: 20px;
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.festivales__seccion1__festMontevideo__texto {
  width: 400px;
  padding: 20px;
}

.festivales__seccion1__festSP__texto {
  width: 400px;
}

.festivales__seccion1__diasNordicos__texto {
  width: 400px;
}

.contacto__seccion1 {
  background-image: url("../assets/nomade.png");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__seccion1__seccion1__titulo {
  font-family: 'Oswald', sans-serif;
  color: blueviolet;
  font-size: 4rem;
  font-weight: 200;
}

.contacto__seccion1__contenedor {
  margin-top: 280px;
  padding: 0.5rem;
  overflow: hidden;
}

.contacto {
  background-color: gray;
  width: 400px;
  position: relative;
  margin-top: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.8);
          box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 320px) {
  .contacto {
    width: auto;
  }
}

@media screen and (max-width: 320px) {
  .contacto__form {
    width: auto;
  }
}

.contacto__form label, .contacto__form input, .contacto__form textarea {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
}

.contacto__form input, :not([type='submit']) .contacto__form textarea {
  border: none;
  border-bottom: 2px solid blueviolet;
  height: 35px;
  margin-bottom: 5px;
  font-size: 20px;
  outline: none;
  color: gray;
  background-color: lightgray;
}

.contacto__form textarea {
  min-height: 100px;
}

.contacto__form label {
  font-weight: 700;
}

input[type='submit'] {
  padding: 10px;
  border: none;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.bodyServicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  height: 100vh;
      grid-template-areas: "headerServicios" "mainServicios" "footerServicios";
}

.headerServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headerServicios;
  background-color: white;
  padding: 20px;
}

.mainServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  /*grid-gap: 2rem;
    place-items: center; 
    padding: 60px 1rem; */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mainServicios;
}

.footerServicios {
  background-color: lightblue;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footerServicios;
}

.servicios__seccion1 {
  height: 90vh;
  background-image: url("../assets/jaloo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.servicios__seccion1__contenedor {
  width: 550px;
  position: relative;
  left: 30px;
}

.servicios__seccion1__titulo {
  font-family: 'Oswald', sans-serif;
  color: #615d5d;
  font-size: 4rem;
  font-weight: 200;
}

.servicios__seccion2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.servicios__seccion2__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column;*/
  gap: 10px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*flex-wrap: wrap;*/
  width: 100%;
  margin-left: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .servicios__seccion2__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .servicios__seccion2__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin: 50px;
  }
}

.servicios__seccion2__imagen {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.servicios__seccion2__imagen:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.swing-top-fwd {
  -webkit-animation: swing-top-fwd 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
  animation: swing-top-fwd 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-14 22:49:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation swing-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-top-fwd {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes swing-top-fwd {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@media screen and (max-width: 768px) {
  .header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home__seccion2__contenedor {
    margin: 0px;
    width: auto;
  }
  .home__seccion2__contenedor__videoMain {
    width: auto;
    height: auto;
  }
  .home__seccion2__contenedor__texto {
    width: auto;
    margin: 0px;
  }
  .festivales__seccion1__titulo {
    font-size: 2.5rem;
  }
  .artistas__seccion1__titulo {
    font-size: 2.5rem;
  }
  .servicios__seccion1__titulo {
    font-size: 2.5rem;
  }
  .servicios__seccion1__contenedor {
    width: 300px;
    position: relative;
    left: 30px;
  }
  .header__list li {
    /* ITEMS DEL NAV */
    display: block;
  }
  .servicios__seccion2__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin: 50px;
  }
  .servicios__seccion2__imagen {
    width: 400px;
    height: auto;
  }
  .contacto__seccion1__titulo {
    font-size: 2rem;
  }
  .footer__columna {
    width: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 320px) {
  .festivales__seccion1__titulo {
    font-size: 2rem;
  }
  .artistas__seccion1__titulo {
    font-size: 2rem;
  }
  .servicios__seccion1__titulo {
    font-size: 2rem;
  }
  .servicios__seccion2__imagen {
    width: 320px;
    height: auto;
  }
  .servicios__seccion2__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  .contacto {
    width: auto;
  }
  .contacto__form {
    width: auto;
  }
  .home__seccion2__contenedor {
    width: auto;
  }
  .home__seccion2__videoMain {
    width: 243px;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */