@import "./vars";
@import "./mixin";
@import "./mapa";
@import "./media-queries";




.artistas__seccion1{
    background-image: url("../assets/baleia.png");

    height: map-get($estilos-portada,alto);
    background-position: map-get($estilos-portada,posicion-back);
    background-size: map-get($estilos-portada,tamanio-back);
    background-repeat: map-get($estilos-portada,back-repetir);
    display:map-get($estilos-portada,despliegue);
    align-items: map-get($estilos-portada,alineacion);

   


    &__contenedor{
        width: 400px;
        position:relative;
        left:30px;
      }

      &__titulo{
        font-family: 'Oswald', sans-serif;
        color:$color-principal;
        font-size: 4rem;
        font-weight: 200;
        @include tablet {
          font-size: 2.5rem;
        }
        @include movil {
          font-size: 2rem;
        }
      }    
  }
  
  
  .artistas{
    
    @include fondo-de-pantalla;

    display: flex;
    flex-direction: column;
    padding: 60px 40px;

    &__contenedor{
        display: flex;
        flex-direction: row;
        font-family: 'Roboto', sans-serif;
      }
      
      
      &__artista{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        text-align: center;
        font-size: 1rem;
        line-height: 1.8;
      
      }
      
      &__img{
        width: 100%;
        /*border-radius: 50%;*/
        max-width: 600px;
        height: 400px;
        object-fit: cover;
        margin: auto;
      }
      
        &__video--avarocha{
        align-self: center;
        padding:20px;
      }
      
      &__video--mula{
        align-self: center;
        padding:20px;
      }
      
      &__video--dak{
        align-self: center;
        padding:20px;
      }
      
      &__video--alfonsina{
        align-self: center;
        padding:20px;
      }
      
      &__titulo{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
      }
      
      &__parrafo{
        padding:20px;
      }
  }
  
  .btn-artista{
    background-color:$color-principal;
  }
  
.card{
  @include movil {
    width: 10rem;
  }
  @include tablet {
    width: 10rem;
  }
} 