@import "./mapa";
@import "./media-queries";

.pantalla__festivales{
    padding:20px;
    background: rgb(30, 171, 218);
    margin: 10px;
    border-radius: 10px;
}


.festivales__seccion1{
   
    background-image: url("../assets/festival.png");
    height: map-get($estilos-portada,alto);
    background-position: map-get($estilos-portada,posicion-back);
    background-size: map-get($estilos-portada,tamanio-back);
    background-repeat: map-get($estilos-portada,back-repetir);
    display:map-get($estilos-portada,despliegue);
    align-items: map-get($estilos-portada,alineacion);


    &__seccion1__contenedor{
        width: 400px;
        position:relative;
        left:30px;
      }

      &__seccion1__titulo{
        font-family: 'Oswald', sans-serif;
        color:black;
        font-size: 4rem;
        font-weight: 200;
        @include tablet {
            font-size: 2.5rem;
        }
        @include movil {
          font-size: 2rem;
        }

      }
      &__seccion2__contenedor{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding:20px;
        width:100%;
        justify-content: left;
      }

      &__festMontevideo__contenedor{
        
        @extend .pantalla__festivales;
        
      }

      &__festMontevideo__texto{
        width:400px;
        padding:20px;
      }

      &__festSP__contenedor{
       
        @extend .pantalla__festivales;
       
      
      }

      
    &__festSP__texto{
        width:400px;
    }
  
    &__diasNordicos__contenedor{
    
      @extend .pantalla__festivales;
       
    }
  
    &__diasNordicos__texto{
        width:400px;
    }
    
    &__eduRioNegro__contenedor{
       
      @extend .pantalla__festivales;
       
    }

  }
  
  
  