@import "./vars";
@import "./mapa";
@import "./media-queries";

.home__seccion1{
    height: 90vh;
    background-image: url("../assets/mula.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;

    &__contenedor{
        width: 550px;
        position:relative;
        left:30px;

    }
    &__titulo{
        font-family: 'Oswald', sans-serif;
        color:blueviolet;
        font-size: 4rem;
        font-weight: 200;
          @include tablet {
            font-size: 2.5rem;
          }
          @include movil {
            font-size: 1.5rem;
          }
           
    }

}



.home__seccion2{
  display: flex;
  margin:20px;


  &__texto{
    color:black;
  }

  &__contenedor{
    display:flex;
    padding:20;
    justify-content: space-between;
    gap:20px;
    margin:20px;
    width: 900px;
    text-align: justify;
    @include tablet {
      margin:0px;
      width:auto;
         &__videoMain{
          width: auto;
          height: auto;
         }
         &__texto{
           width:auto;
           margin:0px;
         }
    }
    @include movil {
    
        width: auto;
    }

  }

  &__contenedor2{
    background-color: lightgrey;
    margin: 20px;
    box-shadow: 7px 13px 37px rgba(0,0,0,.8);
  }
  &__videoMain{
  
    width:560px;
     height:315px;
     @include movil {
    
      width: 243px;
      height: auto;
     }
  }
  
  &__titulo{
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    display: inline;
    color:$color-principal;
    font-size: 2rem;
    font-weight: 200;
    padding:10px;
    /*padding:30px;*/
    /*margin:320px;*/
  
  }
  &__texto{
    font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      font-weight: 20;
      padding:10px;
  }
}




.home__seccion3{
  
  background-image: url("../assets/hkbo.png");
  height: map-get($estilos-portada,alto);
  background-position: map-get($estilos-portada,posicion-back);
  background-size: map-get($estilos-portada,tamanio-back);
  background-repeat: map-get($estilos-portada,back-repetir);
  display:map-get($estilos-portada,despliegue);
  align-items: map-get($estilos-portada,alineacion);


  &__contenedor{
    width: 550px;
    position:relative;
    left:30px;
  }
  
  &__titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    color:white;
  }

}


